*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#070b1a;
color:#fff;
}

.container{
max-width:420px;
margin:40px auto;
padding:20px;
}

.badge{
display:inline-block;
padding:8px 15px;
background:#1d1438;
color:#b58cff;
border:1px solid #7d49ff;
border-radius:30px;
font-size:14px;
margin-bottom:20px;
}

h1{
font-size:42px;
margin-bottom:10px;
}

h1 span{
color:#b58cff;
}

.subtitle{
color:#bdbdbd;
margin-bottom:25px;
}

.card{
background:#111827;
border-radius:20px;
overflow:hidden;
border:1px solid #2b2b55;
}

.card img{
width:100%;
display:block;
}

.content{
padding:20px;
}

.tag{
display:inline-block;
padding:6px 14px;
background:#0f5132;
color:#7dffbf;
border-radius:20px;
font-size:12px;
margin-bottom:15px;
}

.content h2{
margin-bottom:10px;
}

.content p{
color:#bdbdbd;
margin-bottom:20px;
}

.getBtn,
.copyMain{
width:100%;
padding:15px;
border:none;
border-radius:12px;
cursor:pointer;
background:linear-gradient(90deg,#7c3aed,#9333ea);
color:#fff;
font-size:16px;
}

.popup{
position:fixed;
inset:0;
background:rgba(0,0,0,.75);
display:none;
justify-content:center;
align-items:center;
padding:20px;
}

.popupBox{
width:100%;
max-width:430px;
background:#121827;
border-radius:20px;
padding:20px;
}

.top{
display:flex;
justify-content:space-between;
align-items:center;
}

.closeBtn{
background:none;
border:none;
color:#fff;
font-size:22px;
cursor:pointer;
}

.copytitle{
margin:20px 0;
color:#aaa;
font-size:14px;
}

.codeBox{
background:#090d18;
border:1px solid #333;
border-radius:12px;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.codeBox code{
color:#78d7ff;
word-break:break-word;
}
